.transactionContainer{
    width: 100%;
    display: flex;
    .transaction{
        flex: 6; 
        padding: 20px;
        margin-top: 30px;
        .pageTitle{
            font-size: 25px;
            font-weight: 600;
            color: blue;
        }
        .transactionContent{
            margin-top: 20px;
        }
    }

}
