/* Login.scss */
.login-page {
    background: linear-gradient(to bottom, #3498db, #2980b9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  
    h2 {
      margin-bottom: 20px;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      .input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        .Psswordwordinput {
            display: flex;align-items: center;
            justify-content: center;
            input{
                position: relative;
                width: 100%;
                
            }
        }
        label {
          font-weight: bold;
          margin-bottom: 5px;
        }
  
        input {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
        }
  
        .visibility-toggle {
          background: transparent;
          border: 1px solid #ccc;
          cursor: pointer;
          color: #007bff;
          font-weight: bold;
          padding: 10px;
          height: 44px;


        }
      }
  
      .login-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.2s;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  