.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  position: fixed;
  background: #fff;
  top: 0;
  left: 200px; /* Width of the sidebar */
  width: calc(100% - 200px);
  z-index: 99;

  .wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        .icon {
          font-size: 20px;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          transition: transform 0.3s ease;
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
    .profile-container{
      position: relative;
      cursor: pointer;
      .dropdown-menu{
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;

      }
    }
  }
  .profile-container:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
    }
    
    .menu-item {
      padding: 10px 20px;
      cursor: pointer;
      text-decoration: none;
    }
    
    .menu-item:hover {
      background-color: #f0f0f0;
    }
  }
}
