.tutorialContainer{
    width: 100%;
    display: flex;
    .tutorials{
        flex: 6;
        .pageTitle{
            font-size: 35px;
            font-weight: 600;
            padding: 20px;
            color: blue;
        }
    }
    .tutorialContent{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin-top: 30px;
            .tutorialLeft{
                position: relative;
                width: 50%;
                height: 70vh;
                border-right: 1px solid grey;
               
                .Tutorialhead{
                    display: flex;
                    justify-content: space-between;
                    align-content: center;
                    align-items: center;
                }
                .CourseUploadBtn{
                    background: blue;
                    padding: 10px;
                    border: none;
                    width: 100px;
                    height: 50px;
                    font-size: 15px;
                    margin-right: 20px;
                    color: white;
                    border-radius: 10px;
                    cursor: pointer;
                    right: 0;
                }
                .tutorial{
                    display: flex;
                    
                    gap: 20px;
                    align-items: center;
                    margin-top: 15px;
                    justify-content: space-between;
                    padding: 15px;
                    width: 80%;
                    background: pink;
                    border-radius: 15px;
                    .mainContent{
                        display: flex;
                        gap: 20px;
                    }
                    .tutorialAvatar{
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                    }
                    .TutorialTitle{
                        display: flex;
                        flex-direction: column;
                        .courseTitle{
                            font-weight: 700;
                            font-size: 20px;
                            white-space: nowrap;      
                            overflow: hidden;         
                            text-overflow: ellipsis; 
                            max-width: 200px;  
                        }
                    .courseDate{
                        font-size: 12px;
                    }
                    }
                    .Coursebutton{
                        background: blue;
                        height: 50px;
                        width: 120px;
                        border-radius: 10px;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 600;
                        color: white;
                        cursor: pointer;

                    }
                }
            }
            .tutorialRight{
                width: 50%;
                padding: 20px;
                height: 70vh;
                .NothingContent{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 100%;
                    .NoticeContainer{
                        display: flex;
                        flex-direction: column;
                        .doNotDisturbicon{
                            font-size: 200px;
                            color: rgba(128, 128, 128, 0.363);
                        }
                    }
                }
                .titleTag{
                    font-size: 20px;
                    font-weight: 500;
                }
                // p .titleTag{
                //     font-size: 30px;
                // }
                .dateTag{
                    font-size: 14px;
                }
            }
    }
    .modalOverlay{
        background: #0000002d;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999; 
        .modal{
            background: white;
            width: 30%;
            height: 60%;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) ;
            background: 'white';
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .inputForm{
                display: flex;
                flex-direction: column;
                gap: 10px;
                input{
                    height: 40px;
                    font-size: 20px; 
                }
                .fileUploadInput{
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    gap: 10px;
                    .custom-file-upload{
                        display: flex;
                        padding: 10px 20px;
                        background-color: #007bff;
                        height: 30px;
                        align-items: center;
                        color: white;
                        border-radius: 5px;
                        cursor: pointer;
                        input[type="file"] {
                            display: none;
                          }
                    }
                }
            }
            .addcoursebtn{
                display: flex;
                justify-content: space-between;
                gap: 20px;
                margin-top: 10px;
                .addBtn{
                    border: none;
                    height: 40px;
                    width: 100px;
                    background: blue;
                    border-radius: 5px;
                    color: white;
                    cursor: pointer;
                }
                .cancelBtn{
                    border: none;
                    height: 40px;
                    width: 100px;
                    background: red;
                    border-radius: 5px;
                    color: white;
                    cursor: pointer;
                }
            }
            
        }
    }
}

