.WalletContainer {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .tab-container {
    display: flex;
    // justify-content: center;
    margin-top: 20px;
  }
  
  .tab {
    cursor: pointer;
    padding: 4px 10px;
    margin: 0 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  .tab.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .tab:hover {
    background-color: #ddd;
  }
  .label{
    font-size: 8px;
  }
  
  .tab-content {
    margin-top: 20px;
    margin-left: 15px;
  }
  .pageTitle{
    font-size: 17px;
    font-weight: bold;
    color: blue;
  }
  
//   ======Paystack api key styles=============

.NoticeContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    .NoticeText{
        font-weight: bold;
        font-size: 15px;
    }
    .Url{
        color: red;
        background: rgba(255, 0, 0, 0.342);
        padding: 3px;
        width: 300px;
    }
}
